<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Books Dictionary</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Book Dictionary</h1>
        <p>A place for books</p>
      </header>
      <div class="container">
        <section class="book-grid">
          <div class="book-grid-element">
            <img class="book-thumbnail" src="" alt="" />
            <p class="book-desc"></p>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
